{% extends "base.html" %}
{% block bodyClass %}main{% endblock %}
{% block body %}
	<div class="schedule"></div>
	<div class="tweets">
		<ol>
			{% for tweet in tweets %}
				<li class="cf">
					<div class="tweet">
						<div class="profile-image-container">
							<img  src="{{tweet.user.profile_image_url | twitter_normal_to_bigger}}">
						</div>
						<div class="content">
							<div class="title">
								<strong>{{ tweet.user.name }}</strong>
								<small>@{{ tweet.user.screen_name }}</small>
							</div>
							<div class="text">
								{{ tweet.text }}
							</div>
						</div>
					</div>
				</li>
			{% else %}
				<li><em>There are no tweets</em></li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}